@model WEBSITE_FILM_002.Models.FILMS

@{
    ViewBag.Title = "EditFilm";
    Layout = "~/Areas/Admin/Views/Shared/_layout_Admin.cshtml";
}

<div>
    <a href="/Admin/Films/QLFILM"><button class="button_save savebutton">Trở về</button></a>
    <h3 style="display:inline; margin-left: 5px;">Thêm phim mới</h3>
</div>

@using (Html.BeginForm("EditFilm", "FILMS", method: FormMethod.Post, new { @class = "form_input_admin" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FILMID)

        <div class="mb-3 row d-flex justify-content-center">
            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.FILMNAME, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.FILMNAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FILMNAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.STATUS, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.STATUS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @*@Html.LabelFor(model => model.FILMDIRECTOR, htmlAttributes: new { @class = "control-label" })*@
                    <label class="control-label" for="FILMDIRECTOR">Đạo diễn</label>
                </div>
                <div class="col-12 col-md-8">
                    @*@Html.EditorFor(model => model.FILMDIRECTOR, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FILMDIRECTOR, "", new { @class = "text-danger" })*@
                    <input class="form-control text-box single-line" id="FILMDIRECTOR" name="FILMDIRECTOR" type="text" value="@Model.FILMDIRECTOR">
                </div>
            </div>
        </div>

        <div class="mb-3 row d-flex justify-content-center">
            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @*@Html.LabelFor(model => model.PRODUCTIONYEAR, htmlAttributes: new { @class = "control-label" })*@
                    <label class="control-label" for="PRODUCTIONYEAR">Năm sản xuất</label>
                </div>
                <div class="col-12 col-md-8">
                    <input type="date" name="PRODUCTIONYEAR" id="PRODUCTIONYEAR"class="form-control" value="@(((DateTime)Model.PRODUCTIONYEAR).ToString("yyyy-MM-dd"))" />
                    @*@Html.EditorFor(model => model.PRODUCTIONYEAR, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.PRODUCTIONYEAR, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.TIME, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.TIME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TIME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.QUALITY, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.QUALITY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QUALITY, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="mb-3 row d-flex justify-content-center">
            <div class="form-group row col-12  col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.RESOLUTION, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.RESOLUTION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RESOLUTION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group  row col-12  col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.LANGUAGE, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.LANGUAGE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LANGUAGE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group  row col-12  col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.CATEGORY, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.CATEGORY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CATEGORY, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="mb-3 row d-flex justify-content-center">
            <div class="form-group  row col-12  col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.VIEWS, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.VIEWS, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                    @Html.ValidationMessageFor(model => model.VIEWS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group  row col-12  col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.MANUFACTURING_COMPANY, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.MANUFACTURING_COMPANY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MANUFACTURING_COMPANY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group  row col-12  col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.MOVIEREVIEW, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.MOVIEREVIEW, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                    @Html.ValidationMessageFor(model => model.MOVIEREVIEW, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        @*<div class="form-group">
                @Html.LabelFor(model => model.CONTENT_FILM, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CONTENT_FILM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CONTENT_FILM, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="mb-3 row d-flex justify-content-center">
            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.DATECREATE, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    <input type="date" class="form-control text-center" name="DATECREATE" id="DATECREATE" value="@(Model.DATECREATE.ToString("yyyy-MM-dd"))" disabled />

                </div>
            </div>

            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.FILM_STATUS, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.FILM_STATUS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FILM_STATUS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-12  col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.USERID, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    <input type="text" name="" class="form-control" value="@ViewBag.UserName" disabled />
                </div>
            </div>
        </div>

        <div class="mb-3 row  d-flex justify-content-center">
            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.IMAGEID, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    <input type="file" class="form-control" id="IMAGEID" name="IMAGEID">
                    @Html.ValidationMessageFor(model => model.IMAGEID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-12 col-md-4">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.VIDEOID, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-12 col-md-8">
                    <input type="file" class="form-control" id="VIDEOID" name="VIDEOID">
                    @Html.ValidationMessageFor(model => model.VIDEOID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group mb-3">
            <div class="mb-3 text-center">
                @Html.LabelFor(model => model.CONTENT_FILM, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>
            <div class="d-flex justify-content-center">
                @*@Html.EditorFor(model => model.CONTENT_FILM, new { htmlAttributes = new { @class = "form-control w-100" } })*@
                <textarea class="form-control" id="CONTENT_FILM" name="CONTENT_FILM" rows="6" cols="50" style="height:10rem; max-width:70%; text-align: justify;">@Model.CONTENT_FILM</textarea>
                @Html.ValidationMessageFor(model => model.CONTENT_FILM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Save" class="buttonCreate" />
            </div>
        </div>
    </div>
}

